*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    background-image: url(images/connect.webp);
    background-position: center;
    background-repeat: no-repeat;
}

.logo img{
    width: 10%;
    margin: 0px 20px;

}

#quote{
    transform: translate(50px, 160px);
}
#quote h1{
    font-size: 65px;
    color: white;
}

.aboutus{
    width: 50%;
    height: 90%;
    /* background-color: white; */
    transform: translate(580px, -550px);
    color: white;

}

.aboutus p{
    font-size: 14px;
    letter-spacing: 0.5px;

}

.aboutus h1{
    margin-bottom: 30px;
    margin-top: 0px;
    color: rgb(135, 212, 18);
}